
#glowRed:hover {
    -webkit-animation: red 1s ease-in-out infinite alternate;
    -moz-animation: red 1s ease-in-out infinite alternate;
}
@keyframes red {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60004, 0 0 40px #e60004, 0 0 50px #e60004, 0 0 60px #e60004, 0 0 70px #e60004;
    };
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4d4d, 0 0 40px #ff4d4d, 0 0 50px #ff4d4d, 0 0 60px #ff4d4d, 0 0 70px #ff4d4d, 0 0 80px #ff4d4d;
    };
};

